body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:824px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:375px;
  height:667px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:375px;
  height:44px;
  color:#CC99CC;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:61px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u6790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 173, 92, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:44px;
  width:48px;
  height:30px;
  color:#FFFFFF;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u6792_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:51px;
  width:58px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u6794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:121px;
  width:375px;
  height:1px;
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFAD5C;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:94px;
  width:43px;
  height:16px;
  color:#FFAD5C;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:94px;
  width:43px;
  height:16px;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:94px;
  width:29px;
  height:16px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:94px;
  width:29px;
  height:16px;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:133px;
  width:98px;
  height:75px;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:132px;
  width:249px;
  height:27px;
  color:#666666;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u6817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:159px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u6819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:183px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u6821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u6821 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:181px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:190px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:225px;
  width:98px;
  height:75px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:224px;
  width:249px;
  height:27px;
  color:#666666;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u6830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:251px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u6832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:275px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u6834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u6834 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:273px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:282px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:317px;
  width:98px;
  height:75px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:316px;
  width:249px;
  height:27px;
  color:#666666;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u6842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:343px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u6844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:367px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u6846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:365px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:374px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u6850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:216px;
  width:375px;
  height:1px;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:308px;
  width:375px;
  height:1px;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:400px;
  width:375px;
  height:1px;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:293px;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:115px;
  width:388px;
  height:293px;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:30px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:70px;
  width:332px;
  height:42px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u6862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6862 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:64px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u6863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u6864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6864 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:123px;
  width:218px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  word-wrap:break-word;
}
#u6866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6866 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:117px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u6867 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
