body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:656px;
}
#u11097 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:25px;
  width:370px;
  height:656px;
}
#u11098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11099 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:25px;
  width:370px;
  height:44px;
}
#u11100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11101 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:40px;
  width:9px;
  height:15px;
}
#u11102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u11103 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:39px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u11104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
