body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:851px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12459 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:24px;
  width:375px;
  height:667px;
}
#u12460 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12461 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:23px;
  width:375px;
  height:40px;
}
#u12462 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u12464 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:34px;
  width:57px;
  height:16px;
  color:#FF9900;
}
#u12465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12466 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:157px;
  width:375px;
  height:1px;
}
#u12467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12468 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:249px;
  width:375px;
  height:1px;
}
#u12469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12470 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:341px;
  width:375px;
  height:1px;
}
#u12471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12472 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:434px;
  width:375px;
  height:1px;
}
#u12473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12474 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:524px;
  width:375px;
  height:1px;
}
#u12475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u12476 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:616px;
  width:375px;
  height:1px;
}
#u12477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12478_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u12478 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:7px;
  width:23px;
  height:30px;
}
#u12479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u12480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:40px;
}
#u12480 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:24px;
  width:383px;
  height:40px;
}
#u12481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12482 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12483 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:34px;
  width:29px;
  height:16px;
  color:#666666;
}
#u12484 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12486 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:34px;
  width:29px;
  height:16px;
  color:#666666;
}
#u12487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12489_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12489 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:34px;
  width:29px;
  height:16px;
  color:#666666;
}
#u12490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12494 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:74px;
  width:98px;
  height:75px;
}
#u12495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12496 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:73px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12498 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:126px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12500 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:126px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12503 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12505 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:169px;
  width:98px;
  height:75px;
}
#u12506 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12507 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:168px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12509 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:221px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12511 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:221px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12516 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:258px;
  width:98px;
  height:75px;
}
#u12517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12518 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:257px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12520 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:310px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12521 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12522 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:310px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12523 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12525 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12527 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:350px;
  width:98px;
  height:75px;
}
#u12528 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12529 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:349px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12531 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:402px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12533 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:402px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12538 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:442px;
  width:98px;
  height:75px;
}
#u12539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12540 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:441px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12542 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:494px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12544 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:494px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12545 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u12549 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:533px;
  width:98px;
  height:75px;
}
#u12550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u12551 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:532px;
  width:249px;
  height:43px;
  font-size:16px;
  color:#666666;
}
#u12552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u12553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12553 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:585px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u12555 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:585px;
  width:102px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u12556 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u12557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12557 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:38px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u12558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12559 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:86px;
  width:87px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u12560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u12561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12561 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:80px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u12562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u12563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u12563 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:115px;
  width:354px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u12564 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:346px;
  word-wrap:break-word;
}
