body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:776px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13151 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:375px;
  height:667px;
}
#u13152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u13153 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:38px;
  width:375px;
  height:44px;
  color:#CC99CC;
}
#u13154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13155 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:50px;
  width:61px;
  height:21px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u13157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 173, 92, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13157 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:44px;
  width:48px;
  height:30px;
  color:#FFFFFF;
}
#u13158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u13159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13159 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:51px;
  width:58px;
  height:20px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u13161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13161 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:121px;
  width:375px;
  height:1px;
}
#u13162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFAD5C;
}
#u13163 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:94px;
  width:57px;
  height:16px;
  color:#FFAD5C;
}
#u13164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u13165 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u13166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13168 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:94px;
  width:57px;
  height:16px;
}
#u13169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u13170 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u13171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13173 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:94px;
  width:57px;
  height:16px;
}
#u13174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u13175 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:94px;
  width:1px;
  height:16px;
  color:#D7D7D7;
}
#u13176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13177 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:94px;
  width:57px;
  height:16px;
}
#u13178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u13179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u13180 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:133px;
  width:98px;
  height:75px;
}
#u13181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13182 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:132px;
  width:249px;
  height:27px;
  color:#666666;
}
#u13183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u13184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13184 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:159px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u13186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13186 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:183px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u13188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u13188 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:181px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u13189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u13190 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:190px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u13191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u13193 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:225px;
  width:98px;
  height:75px;
}
#u13194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13195 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:224px;
  width:249px;
  height:27px;
  color:#666666;
}
#u13196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u13197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13197 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:251px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u13199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13199 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:275px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u13201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u13201 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:273px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u13202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u13203 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:282px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u13204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u13206 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:317px;
  width:98px;
  height:75px;
}
#u13207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13208 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:316px;
  width:249px;
  height:27px;
  color:#666666;
}
#u13209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u13210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13210 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:343px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u13212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u13212 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:367px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u13213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u13214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF3333;
}
#u13214 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:365px;
  width:34px;
  height:24px;
  font-size:20px;
  color:#FF3333;
}
#u13215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u13216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3333;
}
#u13216 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:374px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FF3333;
}
#u13217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u13218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13218 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:216px;
  width:375px;
  height:1px;
}
#u13219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13220 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:308px;
  width:375px;
  height:1px;
}
#u13221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u13222 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:400px;
  width:375px;
  height:1px;
}
#u13223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:293px;
}
#u13224 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:117px;
  width:388px;
  height:293px;
}
#u13225 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u13226 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:30px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u13227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u13228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13228 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:70px;
  width:81px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u13229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u13230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13230 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:64px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u13231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u13232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13232 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:98px;
  width:284px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u13233 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:276px;
  word-wrap:break-word;
}
#u13234_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u13234 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:102px;
  width:23px;
  height:30px;
}
#u13235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
