body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4084_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:28px;
  width:375px;
  height:656px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:28px;
  width:375px;
  height:44px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:43px;
  width:9px;
  height:15px;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:42px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:83px;
  width:87px;
  height:16px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u4094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:109px;
  width:375px;
  height:1px;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:120px;
  width:129px;
  height:87px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:124px;
  width:121px;
  height:80px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:126px;
  width:67px;
  height:16px;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:126px;
  width:39px;
  height:16px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:120px;
  width:47px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:152px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:231px;
  width:129px;
  height:87px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:235px;
  width:121px;
  height:80px;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:237px;
  width:67px;
  height:16px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:237px;
  width:39px;
  height:16px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:231px;
  width:47px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:263px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:220px;
  width:375px;
  height:1px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:336px;
  width:129px;
  height:87px;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:340px;
  width:121px;
  height:80px;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:342px;
  width:67px;
  height:16px;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:342px;
  width:39px;
  height:16px;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:336px;
  width:47px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:368px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:325px;
  width:375px;
  height:1px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:435px;
  width:87px;
  height:16px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:461px;
  width:375px;
  height:1px;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:472px;
  width:129px;
  height:87px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:476px;
  width:121px;
  height:80px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:478px;
  width:67px;
  height:16px;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:478px;
  width:31px;
  height:16px;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:472px;
  width:47px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:504px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:583px;
  width:129px;
  height:87px;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:80px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:587px;
  width:121px;
  height:80px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:589px;
  width:67px;
  height:16px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u4158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:589px;
  width:31px;
  height:16px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:583px;
  width:47px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:615px;
  width:53px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:572px;
  width:375px;
  height:1px;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:677px;
  width:375px;
  height:1px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:656px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:158px;
  width:375px;
  height:656px;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:170px;
  width:9px;
  height:14px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:632px;
  top:170px;
  width:105px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u4174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:294px;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:306px;
  width:375px;
  height:294px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:139px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:742px;
  width:79px;
  height:16px;
  color:#FFFFFF;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:92px;
  width:97px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:86px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:41px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:119px;
  width:613px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:605px;
  word-wrap:break-word;
}
#u4186_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:95px;
  width:23px;
  height:30px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u4188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:95px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:115px;
  width:389px;
  height:95px;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
