body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:864px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11529 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:203px;
  width:375px;
  height:287px;
}
#u11530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11531 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:558px;
  width:375px;
  height:287px;
}
#u11532 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:136px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:656px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11533 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:28px;
  width:375px;
  height:656px;
}
#u11534 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11535 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:28px;
  width:375px;
  height:44px;
}
#u11536 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11537 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:43px;
  width:9px;
  height:15px;
}
#u11538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u11539 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:42px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u11540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u11541 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:43px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u11542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11543 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:390px;
  width:375px;
  height:8px;
}
#u11544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11545 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:355px;
  width:72px;
  height:25px;
}
#u11545_input {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11546 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:82px;
  width:331px;
  height:25px;
}
#u11546_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#BCBCBC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u11547 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:92px;
  width:33px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u11548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u11549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11549 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:86px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u11550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u11551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11551 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:41px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u11552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u11553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11553 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:116px;
  width:377px;
  height:62px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11554 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u11555_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u11555 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:13px;
  width:23px;
  height:30px;
}
#u11556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u11557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11557 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:203px;
  width:375px;
  height:44px;
}
#u11558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11559 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:218px;
  width:9px;
  height:15px;
}
#u11560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u11561 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:217px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u11562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#E4E4E4;
}
#u11563 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:218px;
  width:29px;
  height:16px;
  color:#E4E4E4;
}
#u11564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11565 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:513px;
  width:377px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11566 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u11567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11567 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:558px;
  width:375px;
  height:44px;
}
#u11568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u11569 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:573px;
  width:9px;
  height:15px;
}
#u11570 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u11571 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:572px;
  width:61px;
  height:17px;
  font-size:15px;
  color:#FFFFFF;
}
#u11572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u11573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11573 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:573px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u11574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11575 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:814px;
  width:98px;
  height:25px;
}
#u11575_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11576 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:459px;
  width:71px;
  height:25px;
}
#u11576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11577 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:257px;
  width:331px;
  height:25px;
}
#u11577_input {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u11578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:14px;
}
#u11578 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:264px;
  width:1px;
  height:13px;
}
#u11579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u11580 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:612px;
  width:342px;
  height:49px;
  font-size:14px;
  color:#666666;
}
#u11581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u11582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11582 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:885px;
  width:377px;
  height:26px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u11583 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u11584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u11584 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:932px;
  width:184px;
  height:41px;
  color:#FF6600;
}
#u11585 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:180px;
  word-wrap:break-word;
}
