body {
  margin:0px;
  background-color:rgba(221, 221, 221, 1);
  background-image:none;
  position:static;
  left:auto;
  width:875px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:73px;
  width:375px;
  height:667px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4846 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:72px;
  width:375px;
  height:40px;
}
#u4847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:129px;
  width:29px;
  height:16px;
  color:#666666;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:134px;
  width:10px;
  height:5px;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:129px;
  width:29px;
  height:16px;
  color:#666666;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:134px;
  width:10px;
  height:5px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:155px;
  width:375px;
  height:1px;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:129px;
  width:29px;
  height:16px;
  color:#666666;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:134px;
  width:10px;
  height:5px;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:129px;
  width:29px;
  height:16px;
  color:#666666;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:5px;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:134px;
  width:10px;
  height:5px;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:163px;
  width:98px;
  height:75px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:162px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:189px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:213px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:192px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:193px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4883 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4884 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:246px;
  width:375px;
  height:1px;
}
#u4885 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4886 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:338px;
  width:375px;
  height:1px;
}
#u4887 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4888 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:430px;
  width:375px;
  height:1px;
}
#u4889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4890 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:523px;
  width:375px;
  height:1px;
}
#u4891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4892 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:613px;
  width:375px;
  height:1px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:705px;
  width:375px;
  height:1px;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:86px;
  width:23px;
  height:30px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:29px;
  background:inherit;
  background-color:rgba(241, 241, 241, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:78px;
  width:277px;
  height:29px;
}
#u4902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u4903 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:86px;
  width:15px;
  height:14px;
}
#u4904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4905 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:83px;
  width:89px;
  height:21px;
  color:#666666;
}
#u4906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  white-space:nowrap;
}
#u4907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u4907 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:85px;
  width:10px;
  height:14px;
}
#u4908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:54px;
}
#u4909 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:106px;
  width:380px;
  height:54px;
}
#u4910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4913 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:256px;
  width:98px;
  height:75px;
}
#u4914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4915 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:255px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4917 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:282px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4919 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:306px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4921 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:285px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4923 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:286px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4927 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:346px;
  width:98px;
  height:75px;
}
#u4928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4929 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:345px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4931 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:372px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4933 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:396px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4935 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:375px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4936 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4937_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4937 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:376px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4941 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:438px;
  width:98px;
  height:75px;
}
#u4942 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4943_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4943 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:437px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4944 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4945 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:464px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4947 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:488px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:467px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:468px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:532px;
  width:98px;
  height:75px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:531px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:558px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:582px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:561px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:562px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:75px;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:622px;
  width:98px;
  height:75px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:621px;
  width:249px;
  height:27px;
  font-size:16px;
  color:#666666;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:249px;
  word-wrap:break-word;
}
#u4973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:648px;
  width:123px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:123px;
  word-wrap:break-word;
}
#u4975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:672px;
  width:106px;
  height:22px;
  font-size:12px;
  color:#999999;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u4977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3333;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:651px;
  width:70px;
  height:20px;
  color:#FF3333;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF3333;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:652px;
  width:26px;
  height:14px;
  font-size:11px;
  color:#FF3333;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u4981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:92px;
  width:49px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4983 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:86px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u4984 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4985 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:38px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u4986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u4987 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:119px;
  width:354px;
  height:44px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:18px;
}
#u4988 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:346px;
  word-wrap:break-word;
}
#u4989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4989 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:168px;
  width:378px;
  height:21px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF3399;
}
#u4990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u4991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4991 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:162px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FF3399;
}
#u4992 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u4993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4994 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:52px;
  width:375px;
  height:20px;
}
#u4995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:14px;
}
#u4996 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:55px;
  width:364px;
  height:14px;
}
#u4997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:33px;
  height:40px;
}
#u4998 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:61px;
  width:23px;
  height:30px;
}
#u4999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
