body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1242px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:127px;
  width:1184px;
  height:223px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:620px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:616px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:0px;
  width:159px;
  height:30px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:94px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:94px;
  text-align:center;
  line-height:16px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:94px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:200px;
  height:94px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:16px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:196px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:94px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:620px;
  height:94px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:16px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:616px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:94px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:30px;
  width:159px;
  height:94px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:16px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:124px;
  width:100px;
  height:94px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  text-align:center;
  line-height:16px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:94px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:124px;
  width:100px;
  height:94px;
  text-align:center;
  line-height:16px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:94px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:124px;
  width:200px;
  height:94px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  line-height:16px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:94px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:124px;
  width:620px;
  height:94px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:16px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:94px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:124px;
  width:159px;
  height:94px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  line-height:16px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
